* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #020617;
  color: white;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #020617;
  text-align: center;
  padding: 15px;
  z-index: 1000;
  border-bottom: 1px solid #1e293b;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 40px;
  padding-top: 100px;

  background: linear-gradient(
      to right,
      rgba(2, 6, 23, 0.98),
      rgba(2, 6, 23, 0.85)
    ),
    url("img/hero-quiz-marketing.jpg");

  background-size: cover;
}

.hero-text {
  max-width: 520px;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-text p {
  color: #cbd5e1;
}

.micro-copy {
  display: block;
  margin-top: 10px;
  color: #94a3b8;
  font-size: 14px;
}

/* BOTÕES */
.botoes {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn {
  padding: 14px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn.principal {
  background: #22c55e;
  color: black;
}

.btn.principal:hover {
  transform: scale(1.05);
}

.btn.secundario {
  background: #1e293b;
}

/* PROVA */
.prova {
  text-align: center;
  padding: 80px 20px;
}

.sub {
  color: #94a3b8;
  margin-bottom: 20px;
}

.numeros {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.numeros strong {
  font-size: 28px;
  color: #22c55e;
}

/* CARDS */
.portfolio-cards,
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-card,
.card {
  background: #1e293b;
  padding: 25px;
  margin: 10px;
  border-radius: 12px;
  width: 260px;
}

.portfolio-card a {
  margin-top: 15px;
  display: inline-block;
  background: #22c55e;
  padding: 10px 20px;
  color: black;
  border-radius: 8px;
  text-decoration: none;
}

.destaque {
  border: 2px solid #22c55e;
}

/* CTA */
.contato {
  text-align: center;
  padding: 80px 20px;
}

.contato a {
  background: #22c55e;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* SEO */
.seo {
  padding: 60px 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
  color: #cbd5e1;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero {
    text-align: center;
    justify-content: center;
  }

  .hero-text h1 {
    font-size: 26px;
  }
}